<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <ScenicSpots>麋鹿园门票</ScenicSpots>
  <GateName>Gate1</GateName>
  <Version>1.0</Version>
  <GatewayUrl>http://192.168.11.100:8026</GatewayUrl>
  <PublishHost>172.16.10.150</PublishHost>
  <PublishPort>8000</PublishPort>
  <!--<InternalGate>172.16.10.95</InternalGate>
  <InternalPort>8000</InternalPort>
  <Gate>
    <Name>闸机</Name>
    <PortName>COM5</PortName>
    <BaudRate>9600</BaudRate>
    <DataBits>8</DataBits>
    <StopBits>One</StopBits>
    <Parity>None</Parity>
  </Gate>
  <Scanner>
    <Name>二维码扫描仪</Name>
    <PortName>COM1</PortName>
    <BaudRate>9600</BaudRate>
    <DataBits>8</DataBits>
    <StopBits>One</StopBits>
    <Parity>None</Parity>
  </Scanner>
  <IDScanner>
    <Name>身份证扫描仪</Name>
    <PortName>COM1</PortName>
    <BaudRate>115200</BaudRate>
    <DataBits>8</DataBits>
    <StopBits>One</StopBits>
    <Parity>None</Parity>
  </IDScanner>
  <FingerPrint>
    <Name>指纹扫描仪</Name>
    <PortName>COM4</PortName>
    <BaudRate>115200</BaudRate>
    <DataBits>8</DataBits>
    <StopBits>One</StopBits>
    <Parity>Odd</Parity>
  </FingerPrint>
  <Card>
    <Name>读卡设备</Name>
    <PortName>COM5</PortName>
    <BaudRate>9600</BaudRate>
    <DataBits>8</DataBits>
    <StopBits>One</StopBits>
    <Parity>None</Parity>
  </Card>-->
</Configuration>